@import "tailwindcss";


/* Poppins */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.font-poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.font-poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.font-poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.font-poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* Space Grotesk */
.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-space-grotesk-light {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.font-space-grotesk-regular {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}

.font-space-grotesk-medium {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.font-space-grotesk-semibold {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}
