name: deploy resources to AWS

on:
    push:
        branches: main
    # pull_request:
    #     branches: main
jobs:
    terraform:
        name: terraform lint, security check and deploy
        runs-on: ubuntu-latest

        env:
            AWS_REGION: 'us-east-1'
            TF_VERSION: '1.4.0'
            TFLINT_VERSION: '0.46.1'
            TFSEC_VERSION: '1.28.1'

        steps:
            - name: Checkout to GitHub repository
              uses: actions/checkout@v3

            - name: Set up AWS credentials
              uses: aws-actions/configure-aws-credentials@v3
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ env.TF_VERSION}}

            - name: Format Terraform Files (recursive)
              run: terraform fmt -recursive

            - name: Terraform Format Check
              run: terraform fmt -check

            - name: Terraform Init
              run: terraform init

            - name: Terraform Validate
              run: terraform validate -no-color

            - name: Terraform Plan
              run: terraform plan -no-color  -out=tfplan

            - name: Terraform Apply
              run: terraform apply -auto-approve tfplan